html * {
  margin: 0;
  padding: 0;
}

.section-1 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  background-color: #acded5;
  padding-inline: 3rem;
  height: 100vh;
}
.section-1 img {
  max-width: 400px;
}
.section-1 .content {
  display: grid;
  justify-items: center;
  z-index: 1;
}
.section-1 .content h1 {
  font-size: 48px;
}
.section-1 .content p {
  margin-top: 5rem;
  width: 80%;
  line-height: 1.5;
  text-align: center;
}
.section-1 .bg {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #ddc5e7;
  border-radius: 50%;
  top: 5%;
  right: 5%;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 10%);
  z-index: 0;
  opacity: 0.75;
}

.section-2 {
  background-color: #f6d2ae;
  height: 100vh;
  padding: 2rem 3rem;
}
.section-2 .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
.section-2 .cards:first-child {
  margin-bottom: 3rem;
}
.section-2 .card {
  width: 350px;
  height: 250px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-3 {
  background-color: #b8bfc7;
  height: 100vh;
  padding: 3rem;
}
.section-3 .block {
  width: 200px;
  height: 200px;
  background-color: olive;
}

.section-4 {
  background-color: #ddc5e7;
  height: 100vh;
}
.section-5 {
  background-color: #f8c1ba;
  height: 100vh;
}
